<!-- 

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">MURI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/list_records">View Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_items">Add Records</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
  {% load static %}
  

  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="home">GMMR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item"><a class="nav-link" href="home">Home</a></li> -->
                <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="faq">FAQ</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownGPI" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Project Info</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" href="goals">Goals</a></li>
                        <li><a class="dropdown-item" href="people">People</a></li>
                        <li><a class="dropdown-item" href="projects">Projects</a></li>
                        <li><a class="dropdown-item" href="institutions">Contributing Institutions</a></li>
                    
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownGMI" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Map Info</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="#">What it is?</a></li>
                        <li><a class="dropdown-item" href="#">Historiography</a></li>
                        <li><a class="dropdown-item" href="#">Bibliography</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownDatabase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Database</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                      <li><a class="dropdown-item" href="#">Administrative</a></li>
                      <li><a class="dropdown-item" href="list_records">Search</a></li>
                  </ul>
              </li>
             
            </ul>
        </div>
    </div>
</nav>